*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: #fafafa;
  background-color: #121212;
}

.wrapper {
  padding: 24px 48px;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  display: flex;
  gap: 1.5rem;
}
@media only screen and (max-width: 1210px) {
  .wrapper {
    padding: 32px 48px;
  }
}
@media only screen and (max-width: 1100px) {
  .wrapper {
    flex-direction: column;
    gap: 32px;
  }
}
@media only screen and (max-width: 700px) {
  .wrapper {
    padding: 24px;
    gap: 24px;
    padding-bottom: 88px;
  }
}

.aside {
  position: sticky;
  top: 24px;
  align-self: flex-start;
}
@media only screen and (max-width: 1100px) {
  .aside {
    position: relative;
    top: 0;
    align-self: stretch;
  }
}

.main {
  flex: 1;
  overflow-x: hidden;
  position: relative;
  background-color: #1e1e1f;
  border: 1px solid #383838;
  padding: 80px 30px 30px;
  border-radius: 20px;
}
@media only screen and (max-width: 700px) {
  .main {
    padding: 24px 18px;
  }
}

img {
  vertical-align: top;
}

svg {
  color: inherit;
  width: 1.5rem;
  height: 1.5rem;
}

a:link, a:visited {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.separator {
  background-color: rgba(43, 43, 43, 0.7490196078);
  margin: 32px 0;
  height: 1.5px;
  width: 100%;
  border-radius: 4px;
}

.heading--primary {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -0.25px;
}
.heading--secondary {
  font-weight: 600;
  font-size: 32px;
  text-transform: capitalize;
  line-height: 40px;
  position: relative;
  display: inline-block;
}
.heading--secondary::after {
  content: "";
  display: inline-block;
  width: 35%;
  height: 4px;
  border-radius: 8px;
  position: absolute;
  background-color: rgb(196, 22, 196);
  bottom: -8px;
  left: 0;
}
@media only screen and (max-width: 900px) {
  .heading--secondary {
    font-size: 28px;
    line-height: 32px;
  }
}
.heading--tertiary {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
}

.paragraph {
  color: rgba(250, 250, 250, 0.8);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.text {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.u-static {
  overflow: hidden;
}

.u-center {
  text-align: center;
}

.base-info {
  background-color: #1e1e1f;
  border: 1px solid #383838;
  padding: 60px 30px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-info__avatar-box {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-color: rgba(43, 43, 43, 0.7490196078);
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 1100px) {
  .base-info__avatar-box {
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
  }
}
.base-info__avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.base-info__heading {
  margin-bottom: 14px;
}
@media only screen and (max-width: 1100px) {
  .base-info__heading {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 0;
  }
}
.base-info__sub-heading {
  background-color: rgba(43, 43, 43, 0.7490196078);
  font-size: 18px;
  font-weight: 400;
  padding: 4px 12px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media only screen and (max-width: 1100px) {
  .base-info__sub-heading {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: center;
  }
}
@media only screen and (max-width: 700px) {
  .base-info__sub-heading {
    grid-row: auto;
    grid-column: auto;
  }
}
@media only screen and (max-width: 1100px) {
  .base-info .btn {
    justify-self: center;
  }
}
@media only screen and (max-width: 1100px) {
  .base-info .separator {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .base-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 18px;
  }
}
@media only screen and (max-width: 700px) {
  .base-info {
    grid-template-columns: 1fr;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 16px;
}
@media only screen and (max-width: 1100px) {
  .contact-list {
    grid-row: 1/2;
    grid-column: 2/3;
    gap: 14px;
  }
}
@media only screen and (max-width: 700px) {
  .contact-list {
    grid-row: auto;
    grid-column: auto;
  }
}
.contact-link, .contact-link:link, .contact-link:visited {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  transition: all 0.2s;
}
.contact-link:hover {
  transform: scale(1.05);
}
.contact-icon {
  width: 46px;
  height: 46px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(196, 22, 196);
  background-color: rgba(43, 43, 43, 0.7490196078);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contact-title {
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.6);
  font-size: 12px;
  margin-bottom: 4px;
}

.social-links__list {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (max-width: 1100px) {
  .social-links__list {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 0;
    justify-self: start;
  }
}
@media only screen and (max-width: 900px) {
  .social-links__list {
    justify-self: center;
  }
}
@media only screen and (max-width: 700px) {
  .social-links__list {
    grid-row: auto;
    grid-column: auto;
  }
}
.social-links__link:link, .social-links__link:visited {
  display: inline-block;
  transition: all 0.2s;
}
.social-links__link:hover, .social-links__link:active {
  transform: scale(1.1);
  color: rgb(196, 22, 196);
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
}
.btn--primary {
  color: rgba(250, 250, 250, 0.8);
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid currentcolor;
  padding: 8px 16px;
  transition: all 0.2s;
}
.btn--primary:hover, .btn--primary:active {
  background-color: rgb(196, 22, 196);
  border-color: rgb(196, 22, 196);
}

.nav {
  position: absolute;
  padding: 0 40px;
  z-index: 100;
  right: 0;
  top: 0;
  border-bottom-left-radius: 30px;
  background-color: rgba(43, 43, 43, 0.7490196078);
  border-left: 1px solid #383838;
  border-bottom: 1px solid #383838;
  height: 64px;
}
.nav__list {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .nav__list {
    justify-content: center;
  }
}
.nav__btn {
  background-color: transparent;
  color: rgba(250, 250, 250, 0.8);
  border: none;
  padding: 20px 16px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s;
}
.nav__btn.active, .nav__btn:hover, .nav__btn:active {
  color: rgb(196, 22, 196);
}
.nav__btn:hover, .nav__btn:active {
  transform: scale(1.05) translateY(-2px);
}
@media only screen and (max-width: 700px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    background-color: rgba(56, 56, 56, 0.9);
    border-radius: 0;
  }
}

.tab-content.hidden {
  display: none;
}

.about__about {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 44px 0 32px;
}
.about__stack-heading {
  margin-bottom: 16px;
}
.about__list {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
@media only screen and (max-width: 1210px) {
  .about__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .about__list {
    gap: 24px;
  }
}
@media only screen and (max-width: 700px) {
  .about__list {
    grid-template-columns: 1fr;
  }
}
.about__item {
  background-color: rgba(43, 43, 43, 0.7490196078);
  border: 1px solid #383838;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.about__item-logo {
  color: rgb(196, 22, 196);
  text-align: center;
}
.about__item-logo svg {
  width: 48px;
  height: 48px;
}
.about__item-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.about__item-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(250, 250, 250, 0.85);
}

.resume__content {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.resume__sub-heading {
  margin-bottom: 18px;
}
.resume__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.resume__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 32px;
  position: relative;
}
.resume__item-title {
  font-weight: 700;
}
.resume__item::before {
  content: "";
  box-sizing: content-box;
  line-height: 24px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: rgb(196, 22, 196);
  border-radius: 50%;
  transform: translateY(50%);
}
.resume__item:not(:last-child)::after {
  content: "";
  background-color: rgba(43, 43, 43, 0.7490196078);
  width: 2px;
  height: calc(100% + 4px);
  position: absolute;
  top: 18px;
  left: 6px;
  transform: translateX(-50%);
}
.resume__certificates-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media only screen and (max-width: 1210px) {
  .resume__certificates-list {
    gap: 24px;
  }
}
@media only screen and (max-width: 1100px) {
  .resume__certificates-list {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.resume__certificate:link, .resume__certificate:visited {
  border: 1px solid #383838;
  padding: 16px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 24px;
  background-color: rgba(43, 43, 43, 0.7490196078);
  transition: all 0.2s;
}
@media only screen and (max-width: 1100px) {
  .resume__certificate:link, .resume__certificate:visited {
    grid-template-columns: 120px 1fr;
  }
}
.resume__certificate:hover, .resume__certificate:active {
  border-color: rgb(196, 22, 196);
}
.resume__certificate-logo {
  background-color: #fafafa;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  padding: 18px;
  border-radius: 8px;
}
.resume__certificate-logo img {
  margin: auto;
  width: 100%;
}
.resume__certificate-data {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.resume__certificate-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  margin-bottom: auto;
}
@media only screen and (max-width: 1100px) {
  .resume__certificate-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }
}
.resume__certificate-organization {
  text-transform: capitalize;
}
.resume__languages-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.resume__language {
  display: flex;
  align-items: center;
  gap: 16px;
}
.resume__language-flag img {
  width: 54px;
}
.resume__language-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.projects__content {
  margin-top: 44px;
}
.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
@media only screen and (max-width: 900px) {
  .projects__list {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .projects__list {
    grid-template-columns: 1fr;
  }
}
.projects__project {
  border-radius: 18px;
  border: 1px solid #383838;
  overflow: hidden;
  background-color: rgba(43, 43, 43, 0.7490196078);
}
.projects__project-image {
  position: relative;
  padding-bottom: 60%;
  overflow: hidden;
}
.projects__project-image img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.projects__project-image:hover img {
  transform: scale(1.1);
}
@media only screen and (max-width: 1100px) {
  .projects__project-image {
    padding-bottom: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .projects__project-image {
    padding-bottom: 0;
    height: 100%;
  }
}
.projects__project-data {
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.projects__project-title {
  color: rgb(196, 22, 196);
}
.projects__project-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.projects__project-link:link, .projects__project-link:visited {
  transition: all 0.2s;
}
.projects__project-link:hover, .projects__project-link:active {
  color: rgb(196, 22, 196);
}
@media only screen and (max-width: 700px) {
  .projects__project {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }
}