@import "../variables";

.nav {
  position: absolute;
  padding: 0 40px;
  z-index: 100;
  right: 0;
  top: 0;
  border-bottom-left-radius: 30px;
  background-color: $color-grey;
  border-left: $border;
  border-bottom: $border;
  height: $header-height;

  &__list {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      justify-content: center;
    }
  }

  &__btn {
    background-color: $color-transparent;
    color: rgba($color-white, 0.8);
    border: none;
    padding: 20px 16px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s;

    &.active,
    &:hover,
    &:active {
      color: $color-purple;
    }

    &:hover,
    &:active {
      transform: scale(1.05) translateY(-2px);
    }
  }

  @media only screen and (max-width: $bp-small) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    background-color: rgba($color-dark-grey, 0.9);
    border-radius: 0;
  }
}

.tab-content {
  &.hidden {
    display: none;
  }
}
