@import "../mixins";
@import "../variables";

.about {
  &__about {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 44px 0 32px;
  }

  &__stack {
    &-heading {
      margin-bottom: 16px;
    }
  }

  &__list {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    @media only screen and (max-width: $bp-extra-large) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-medium) {
      gap: 24px;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background-color: $color-grey;
    border: $border;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    &-logo {
      color: $color-purple;
      text-align: center;

      svg {
        width: 48px;
        height: 48px;
      }
    }

    &-title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }

    &-description {
      @include line-clip(5, $is-flex-item: true);

      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
      color: rgba($color-white, 0.85);
    }
  }
}
