@import "../variables";
@import "../mixins";

.resume {
  &__content {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__sub-heading {
    margin-bottom: 18px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 32px;
    position: relative;

    &-title {
      font-weight: 700;
    }

    &::before {
      content: "";
      box-sizing: content-box;
      line-height: 24px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      background-color: $color-purple;
      border-radius: 50%;
      transform: translateY(50%);
    }

    &:not(:last-child)::after {
      content: "";
      background-color: $color-grey;
      width: 2px;
      height: calc(100% + 4px);
      position: absolute;
      top: 18px;
      left: 6px;
      transform: translateX(-50%);
    }
  }

  &__certificates {
    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;

      @media only screen and (max-width: $bp-extra-large) {
        gap: 24px;
      }

      @media only screen and (max-width: $bp-large) {
        grid-template-columns: 1fr;
        gap: 16px;
      }
    }
  }

  &__certificate {
    &:link,
    &:visited {
      border: $border;
      padding: 16px;
      border-radius: 16px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: start;
      gap: 24px;
      background-color: $color-grey;
      transition: all 0.2s;

      @media only screen and (max-width: $bp-large) {
        grid-template-columns: 120px 1fr;
      }
    }

    &:hover,
    &:active {
      border-color: $color-purple;
    }

    &-logo {
      background-color: $color-white;
      align-self: stretch;
      justify-self: stretch;
      display: flex;
      padding: 18px;
      border-radius: 8px;

      img {
        margin: auto;
        width: 100%;
      }
    }

    &-data {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-title {
      @include line-clip(2, $is-flex-item: true);

      margin-bottom: auto;

      @media only screen and (max-width: $bp-large) {
        @include line-clip(1, $is-flex-item: true);
      }
    }

    &-organization {
      text-transform: capitalize;
    }
  }

  &__languages {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__language {
    display: flex;
    align-items: center;
    gap: 16px;

    &-flag {
      img {
        width: 54px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
