$color-black: #121212;
$color-white: #fafafa;
$color-background: #1e1e1f;
$color-dark-grey: #383838;
$color-grey: #2b2b2bbf;
$color-purple: rgb(196 22 196);
$color-transparent: transparent;
$border: 1px solid $color-dark-grey;
$box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
$header-height: 64px;
$bp-extra-large: 1210px;
$bp-large: 1100px;
$bp-medium: 900px;
$bp-small: 700px;
$bp-extra-small: 450px;
